<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="resources/all.css"/>
</head>
<body class="flex-column loading">

<header class="flex-none">
    <ul class="nav-tabs tabs-orange-red pull-left" data-selector=".nav-panes">
        <li class="active">股性债性</li>
        <li>散点图</li>
        <li>跟踪条款</li>
    </ul>
    <!--<div class="btn-split pull-right">-->
        <!--<a class="btn"><i class="icon-xls"></i>导出Excel</a>-->
    <!--</div>-->
</header>
<div class="flex-auto flex-column nav-panes">
    <div class="flex-auto flex-column active">
        <form class="flex-none" v-on="change: filtersChange, input: filtersChange">
            <div class="form-group pull-right">
                <label>套利空间</label>
                <select v-model="conditions.arbitrage" options="options"></select>
                <input v-model="values.arbitrage" v-attr="disabled:!conditions.arbitrage.length" type="text">
                <label>转股溢价率</label>
                <select v-model="conditions.conversion" options="options"></select>
                <input v-model="values.conversion" v-attr="disabled:!conditions.conversion.length" type="text">
                <label>纯债溢价率</label>
                <select v-model="conditions.bond" options="options"></select>
                <input v-model="values.bond" v-attr="disabled:!conditions.bond.length" type="text">
                <label>到期收益率</label>
                <select v-model="conditions.expire" options="options"></select>
                <input v-model="values.expire" v-attr="disabled:!conditions.expire.length" type="text">
            </div>
        </form>
        <div class="flex-auto grid"></div>
        <div class="flex-splitter flex-splitter-bottom"><i></i></div>
        <div class="flex-none flex-row">
            <iframe class="flex-1" frameborder="0" allowtransparency="true" src="about:blank"></iframe>
            <iframe class="flex-1" frameborder="0" allowtransparency="true" src="about:blank"></iframe>
        </div>
    </div>
    <div id="scatter" class="flex-auto"></div>
    <div class="flex-auto flex-column">
        <form class="flex-none" data-bind="onFiltersChange">
            <div class="form-group pull-right">
                <label><input v-model="provisions[0]" type="checkbox"><span>转股价修正条款</span></label>
                <label><input v-model="provisions[1]" type="checkbox"><span>提前回售条款</span></label>
                <label><input v-model="provisions[2]" type="checkbox"><span>提前赎回条款</span></label>
                <label><input v-model="provisions[3]" type="checkbox"><span>到期赎回条款</span></label>
            </div>
        </form>
        <div class="flex-auto grid"></div>
    </div>
</div>

<div class="dialog" draggable="true">
    <div class="dialog-header">
        <h3></h3><i></i>
    </div>
    <div class="dialog-body">
        <article class="scroller"></article>
    </div>
</div>

<script src="../../jquery/amd/require.js" data-main="src"></script>
<script src="../../jquery/amd/cfg.js"></script>

</body>
</html>