<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="resources/tall.css"/>
</head>
<body>

<header>
    <div class="tabContainer">
        <div class="marginCenter">
            <ul id="headerSecondUl" data-bind="onHeaderTabsClick" class="pull-left">
                <li data-value="overview">两融市场总览</li>
                <li class="active">市场交易明细</li>
                <li data-value="single">个股交易明细</li>
                <li data-value="ranking">券商月度排名</li>
            </ul>
        </div>
        <a href="DZH://REPORT?ReportModule.dll&MODULE='115'&MODULEREPLACED='ssddvsd'&PARAM='loadStat 1632_1 1632_1'">相关专题报表</a>
    </div>
</header>

<div id="container" class="flex-auto">
    <div>
        <div id="tableContainer">
            <h3>
                <i class="fa fa-chevron-circle-right"></i>
                <b>融资融券交易总量</b>

                <div class="form-group">
                    <input type="datetime" v-attr="value:date" data-bind="onDateChange"><i class="fa fa-calendar"></i>
                    <button class="btn btn-gray">查 询</button>
                </div>
            </h3>
            <table>
                <colgroup>
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                </colgroup>
                <thead>
                <tr>
                    <th>交易日期</th>
                    <th>市场</th>
                    <th>本日融资余额(元)</th>
                    <th>本日融资买入额(元)</th>
                    <th>本日融券余额(元)</th>
                    <th>本日融资融券余额(元)</th>
                </tr>
                </thead>
                <tbody class="no-change">
                <tr v-repeat="item:volume">
                    <td v-if="$index===0" v-text="date" rowspan="3"></td>
                    <td v-text="item.C1"></td>
                    <td v-text="item.C2"></td>
                    <td v-text="item.C3"></td>
                    <td v-text="item.C4"></td>
                    <td v-text="item.C5"></td>
                </tr>
                </tbody>
            </table>

            <h3 class="title">
                <i class="fa fa-chevron-circle-right"></i>
                <b v-text="date.replace(/(\d+)-(\d+)-(\d+)/,'$1年$2月$3日')+'融资融券交易明细'"></b>

                <div class="form-group">
                    <input id="stockKey" type="search" placeholder="请输入证券代码或简称"><i class="fa fa-search"></i>
                    <button class="btn btn-gray" data-bind="onSearchBtnClick">查 询</button>
                </div>
            </h3>
            <table>
                <colgroup>
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                    <col width="120">
                </colgroup>
                <thead class="thead">
                <tr v-on="click:reorder">
                    <th v-class="{arrow: sortby == 1, desc: order == -1}">证券代码</th>
                    <th v-class="{arrow: sortby == 2, desc: order == -1}">证券简称</th>
                    <th v-class="{arrow: sortby == 3, desc: order == -1}">融资余额</th>
                    <th v-class="{arrow: sortby == 4, desc: order == -1}">融资买入额</th>
                    <th v-class="{arrow: sortby == 5, desc: order == -1}">融资偿还额</th>
                    <th v-class="{arrow: sortby == 6, desc: order == -1}">融券余额</th>
                    <th v-class="{arrow: sortby == 7, desc: order == -1}">融券卖出量</th>
                    <th v-class="{arrow: sortby == 8, desc: order == -1}">融券偿还量</th>
                </tr>
                </thead>
                <tbody>
                <tr v-repeat="item:details">
                    <td v-text="item.C2"></td>
                    <td v-text="item.C3"></td>
                    <td v-text="item.C4"></td>
                    <td v-text="item.C5"></td>
                    <td v-text="item.C6"></td>
                    <td v-text="item.C7"></td>
                    <td v-text="item.C8"></td>
                    <td v-text="item.C9"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="pagerParent">
            <div class="pager" v-on="click:onClick">
                <a v-attr="data-index:index-1">上一页</a>
                <a v-class="active:index==1" v-text="1"></a>
                <i v-if="count>size&&index>size/2+1">...</i>
                <a v-class="active:index==$value" v-repeat="items" v-text="$value"></a>
                <i v-if="count>size&&index<count-size/2">...</i>
                <a v-class="active:index==count" v-if="count>1" v-text="count"></a>
                <a v-attr="data-index:index+1">下一页</a>
                <input v-attr="min:1,max:count" v-model="input" v-on="change:onChange" type="number">
                <a v-attr="data-index:input">GO</a>
            </div>
        </div>
    </div>

</div>
<script src="../../jquery/amd/require.js" data-main="src"></script>
<script src="../../jquery/amd/cfg.js"></script>

</body>
</html>