<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>龙虎榜</title>
    <link rel="stylesheet" href="resources/css.css"/>
</head>
<body class="loading">

<header>
    <ul data-bind="onChangeViewClick">
        <li data-view="billboard" data-func="gw.sh.func.NewlhbRequest" class="active">最新龙虎榜</li>
        <li data-view="stock" data-func="gw.sh.func.ActiveStocksRankingRequest"
            class="handleByBack">活跃个股排行
        </li>
        <li data-view="saleDep" data-func="gw.sh.func.ActiveSalesDepartmentRankingRequest"
            class="handleByBack">活跃营业部排行
        </li>
    </ul>
</header>

<div id="container" class="flex-auto">
    <div id="containerBorder">

        <div data-view="billboard" class="panel">
            <div class="condition-area">
                <ul class="btns-list" data-bind="onDateClick" data-key="股票范围">
                    <li data-desc="1" data-order="买入席位" class="active" data-value="all" data-page="1">全部股票</li>
                    <li data-desc="1" data-order="买入席位" data-value="沪市主板" data-page="1">沪市主板</li>
                    <li data-desc="1" data-order="买入席位" data-value="深市主板" data-page="1">深市主板</li>
                    <li data-desc="1" data-order="买入席位" data-value="中小板" data-page="1">中小板</li>
                    <li data-desc="1" data-order="买入席位" data-value="创业板" data-page="1">创业板</li>
                </ul>
                <div class="info">
                    <span>最近交易日：</span><span id="searchDate"></span> <span>单位: 万元</span>
                </div>
            </div>
            <table>
                <colgroup>
                    <col width="50">
                    <col width="78">
                    <col width="75">
                    <col width="85">
                    <col width="85">
                    <col width="85">
                    <col width="85">
                    <col width="85">
                    <col width="90">
                    <col width="105">
                    <col width="95">
                    <col width="60">
                </colgroup>
                <thead>
                <tr data-bind="onTHeadClick">
                    <th>序号</th>
                    <th data-order="Symbol">股票代码</th>
                    <th data-order="C4">股票简称</th>
                    <th data-order="C6">收盘价(元)</th>
                    <th data-order="PCHG">涨跌幅%</th>
                    <th data-order="成交金额">成交金额</th>
                    <th data-order="MRZB">买占比%</th>
                    <th data-order="MCZB">卖占比%</th>
                    <th data-order="净买入额">净买入额</th>
                    <th class="order desc" data-order="买入席位">买入席位<i class="arrow"></i></th>
                    <th data-order="卖出席位">卖出席位</th>
                    <th>明细</th>
                </tr>
                </thead>
                <tbody>
                <tr v-repeat="item:items">
                    <td v-text="item['num']"></td>
                    <td>
                        <a href="dzh://VIEWSTOCK?DATATYPE=DAY&LAYOUT=Level2默认&PAGE=分时走势&LABEL={{item['CO']}}"
                           v-text="item['Symbol']"></a>
                    </td>
                    <td class="align-left">
                        <a href="dzh://VIEWSTOCK?DATATYPE=DAY&LAYOUT=Level2默认&PAGE=分时走势&LABEL={{item['CO']}}"
                           class="short" v-text="item['C4']"></a>
                    </td>
                    <td>
                        <span v-class="num: item['C6'] != '-'" v-text="item['C6'] | fixed 2"></span>
                    </td>
                    <td v-class="green: item['PCHG'] < 0, red: item['PCHG'] >= 0">
                        <span v-class="num: item['PCHG'] != '-'" v-text="item['PCHG'] | fixed 2"></span>
                    </td>

                    <td>
                        <span v-class="num: item['成交金额'] != '-'" v-text="item['成交金额'] | fixed 2"></span>
                    </td>

                    <td>
                        <span v-class="num: item['MRZB'] != '-'" v-text="item['MRZB'] | fixed %"></span>
                    </td>
                    <td>
                        <span v-class="num: item['MCZB'] != '-'" v-text="item['MCZB'] | fixed %"></span>
                    </td>

                    <td  v-class="green: item['净买入额'] < 0, red: item['净买入额'] >= 0">
                        <span v-class="num: item['净买入额'] != '-'" v-text="item['净买入额'] | fixed 2"></span>
                    </td>

                    <td>
                        <ul class="circle-list">
                            <li v-class="blue: item['B1'] == 1, orange: item['B1']== 2"></li>
                            <li v-class="blue: item['B2'] == 1, orange: item['B2']== 2"></li>
                            <li v-class="blue: item['B3'] == 1, orange: item['B3']== 2"></li>
                            <li v-class="blue: item['B4'] == 1, orange: item['B4']== 2"></li>
                            <li v-class="blue: item['B5'] == 1, orange: item['B5']== 2"></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="circle-list">
                            <li v-class="blue: item['S1'] == 1, orange: item['S1']== 2"></li>
                            <li v-class="blue: item['S2'] == 1, orange: item['S2']== 2"></li>
                            <li v-class="blue: item['S3'] == 1, orange: item['S3']== 2"></li>
                            <li v-class="blue: item['S4'] == 1, orange: item['S4']== 2"></li>
                            <li v-class="blue: item['S5'] == 1, orange: item['S5']== 2"></li>
                        </ul>
                    </td>
                    <td>
                        <a href="" v-on="click: showDetail($event, item)">明细</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="notice-list">
                <li class='blue'>机构专用席位</li>
                <li class='orange'>活跃营业部(最近一个月龙虎榜成交金额前20名营业部)</li>
                <li>普通席位</li>
            </ul>
        </div>

        <div data-view="stock" class="panel hide">
            <div class="condition-area">
                <ul class="btns-list" data-bind="onDateClick">
                    <li class="active" data-value="1" data-page="1">一个月</li>
                    <li data-value="2" data-page="1">三个月</li>
                    <li data-value="3" data-page="1">六个月</li>
                    <li data-value="4" data-page="1" class="tip-container">
                        <i class="fa fa-calendar"></i>
                        <span>自定义</span>

                        <div class="tip">
                            <form action="">
                                <div class="form-group">
                                    <label for="beginDate">起始</label>
                                    <input type="datetime" id="beginDate"><i class="fa fa-calendar"></i>
                                </div>
                                <div class="form-group">
                                    <label for="endDate">截止</label>
                                    <input type="datetime" id="endDate"><i class="fa fa-calendar"></i>
                                </div>
                                <div class="buttons">
                                    <button class="btn btn-gray" data-bind="onSearchBtnClick">查 询</button>
                                    <button class="btn btn-gray" data-bind="onSearchCancelClick">取 消</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>

                <div class="info">单位: 万元</div>
            </div>

            <table>
                <colgroup>
                    <col width="60">
                    <col width="100">
                    <col width="120">
                    <col width="78">
                    <col width="110">
                    <col width="110">
                    <col width="90">
                    <col width="110">
                    <col width="110">
                    <col width="90">
                </colgroup>
                <thead>
                <tr data-bind="onTHeadClick">
                    <!--<th class="order desc" data-type="1">日期<i class="arrow"></i></th>-->
                    <th>序号</th>
                    <th data-order="Symbol">股票代码</th>
                    <th data-order="C4">股票简称</th>
                    <th data-order="CS">上榜次数</th>
                    <th data-order="MRJE">买入金额</th>
                    <th data-order="MCJE">卖出金额</th>
                    <th data-order="JGWS">参与机构数</th>
                    <th data-order="JGZYMR">机构专用买入</th>
                    <th data-order="JGZYMC">机构专用卖出</th>
                    <th>明细</th>
                </tr>
                </thead>
                <tbody>
                <tr v-repeat="item:items">
                    <td v-text="item['num']"></td>
                    <td>
                        <a href="dzh://VIEWSTOCK?DATATYPE=DAY&LAYOUT=Level2默认&PAGE=分时走势&LABEL={{item['CO']}}"
                           v-text="item['Symbol']"></a>
                    </td>
                    <td class="align-left">
                        <a class="short"
                           href="dzh://VIEWSTOCK?DATATYPE=DAY&LAYOUT=Level2默认&PAGE=分时走势&LABEL={{item['CO']}}"
                           v-text="item['C4']"></a>
                    </td>
                    <td>
                        <span class="shortNum" v-text="item['CS']"></span>
                    </td>
                    <td v-class="red: item['MRJE'] != '-'">
                        <span class="largeNum" v-text="item['MRJE'] | fixed 2"></span>
                    </td>
                    <td v-class="green: item['MCJE'] != '-'">
                        <span class="largeNum" v-text="item['MCJE'] | fixed 2"></span>
                    </td>
                    <td>
                        <span class="shortNum" v-text="item['JGWS']"></span>
                    </td>
                    <td v-class="red: item['JGZYMR'] != '-'">
                        <span class="largeNum" v-text="item['JGZYMR'] | fixed 2"></span>
                    </td>
                    <td v-class="green: item['JGZYMC'] != '-'">
                        <span class="largeNum" v-text="item['JGZYMC'] | fixed 2"></span>
                    </td>
                    <td>
                        <a href="" v-on="click: showDetail($event, item)">明细</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div data-view="saleDep" class="panel hide">
            <div class="condition-area">
                <ul class="btns-list" data-bind="onDateClick">
                    <li data-value="0" data-page="1">最新交易</li>
                    <li data-value="1" data-page="1">最近一周</li>
                    <li class="active" data-value="2" data-page="1">最近一月</li>
                    <li data-value="3" data-page="1">最近三月</li>
                </ul>

                <div class="info">单位: 万元</div>
            </div>

            <table>
                <colgroup>
                    <col width="45">
                    <col width="233">
                    <col width="90">
                    <col width="60">
                    <col width="70">
                    <col width="70">
                    <col width="70">
                    <col width="70">
                    <col width="60">
                </colgroup>
                <thead>
                <tr data-bind="onTHeadClick">
                    <th>序号</th>
                    <th data-order="DEPA">营业部或交易单元名称</th>
                    <th data-order="CJJE">龙虎榜成交额</th>
                    <th data-order="CS">上榜次数</th>
                    <th data-order="MRJE">买入金额</th>
                    <th data-order="MRCS">买入次数</th>
                    <th data-order="MCJE">卖出金额</th>
                    <th data-order="MCCS">卖出次数</th>
                    <th>明细</th>
                </tr>
                </thead>
                <tbody>
                <tr v-repeat="item:items">
                    <td v-text="item['num']"></td>
                    <td class="align-left">
                        <span class="limit" v-text="item['DEPA']" title="{{item['DEPA']}}"></span>
                    </td>
                    <td>
                        <span class="largeNum" v-text="item['CJJE'] | fixed 2"></span>
                    </td>
                    <td>
                        <span class="shortNum" v-text="item['CS']"></span>
                    </td>
                    <td v-class="red: item['MRJE']!='-'">
                        <span class="largeNum" v-text="item['MRJE'] | fixed 2"></span>
                    </td>
                    <td>
                        <span class="shortNum" v-text="item['MRCS']"></span>
                    </td>
                    <td v-class="green: item['MCJE']!='-'">
                        <span class="largeNum" v-text="item['MCJE'] | fixed 2"></span>
                    </td>
                    <td>
                        <span class="shortNum" v-text="item['MCCS']"></span>
                    </td>
                    <td>
                        <a href="" v-on="click: showDetail($event, item)">明细</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="noDataMsg hide">暂无相关数据</div>

        <div id="pagerParent">
            <div class="pager hide" v-on="click:onClick">
                <a v-attr="data-index:index-1">上一页</a>
                <a v-class="active:index==1" v-text="1"></a>
                <i v-if="count>size&&index>size/2+1">...</i>
                <a v-class="active:index==$value" v-repeat="items" v-text="$value"></a>
                <i v-if="count>size&&index<count-size/2">...</i>
                <a v-class="active:index==count" v-if="count>1" v-text="count"></a>
                <a v-attr="data-index:index+1">下一页</a>
                <input v-attr="min:1,max:count" v-model="input" v-on="change:onChange" type="number">
                <a v-attr="data-index:input">GO</a>
            </div>
        </div>
    </div>

</div>

<div class="mask hide" data-bind="onMaskClick"></div>

<script src="../../jquery/amd/require.js" data-main="src"></script>
<script src="../../jquery/amd/cfg.js"></script>
</body>
</html>